{{!< base}}

<main class="index-page__main">
	<h1>Симпл Чат</h1>
	<h2>Содержание</h2>
	<ul>
		<li><a href="login.hbs">Авторизация</a></li>
		<li><a href="register.hbs">Регистрация</a></li>
		<li><a href="chat.hbs">Список чатов и лента переписки</a></li>
		<li><a href="profile_edit.hbs">Настройки пользователя</a></li>
		<li><a href="404.hbs">Страница 404</a></li>
		<li><a href="500.hbs">Страница 5**</a></li>
	</ul>
</main>
