---
fields:
- name: login
  type: text
  label: Логин
- name: password
  type: password
  label: Пароль
---
{{!< base}}

<main class="login__main">
	<form>
		<h1>Вход</h1>
		{{> form this}}
		<button>Войти</button>
		<div class="center"><a href="./register.hbs">Впервые?</a></div>
	</form>
</main>
