---
fields:
- name: first_name
  type: text
  label: Имя
- name: second_name
  type: text
  label: Фамилия
- name: display_name
  type: text
  label: Имя в чате
- name: email
  type: email
  label: Электронная почта
- name: phone
  type: tel
  label: Телефон
- name: avatar
  type: file
  label: Файл с портретом
- name: login
  type: text
  label: Логин
- name: oldPassword
  type: password
  label: Старый пароль
- name: newPassword
  type: password
  label: Новый пароль
---

{{!< base}}

<!--
Настройки пользователя:
Имена полей для изменения информации о пользователе: first_name, second_name, display_name, login, email, phone;
Поле для изменения аватара: avatar;
Поля для изменения пароля: oldPassword, newPassword.
-->

<main class="login__main">
	<form>
		<h1>Профиль</h1>
		{{> form this}}
		<button>Сохранить</button>
		<div class="center"><a href="./index.hbs">Назад к чатам</a></div>
	</form>
</main>
