---
fields:
- name: first_name
  type: text
  label: Имя
- name: second_name
  type: text
  label: Фамилия
- name: email
  type: email
  label: Электронная почта
- name: phone
  type: tel
  label: Телефон
- name: login
  type: text
  label: Логин
- name: password
  type: password
  label: Пароль
---

{{!< base}}

<main class="login__main">
	<form>
		<h1>Регистрация</h1>
		{{> form this}}
		<button>Зарегистрироваться</button>
		<div class="center"><a href="./login.hbs">Войти</a></div>
	</form>
</main>
