<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    {{> title}}
  </title>
	<link rel="shortcut icon" type="image/png" href="../static/favicon.png">
	<link rel="stylesheet" href="base.pcss">
	{{{head}}}
</head>
<body>
  {{{body}}}
</body>
</html>
